html {
    background-image: url(https://m.media-amazon.com/images/I/61rlQBcOy4L._AC_.jpg);
}

h1, .head {
    color:antiquewhite;
    font-size: 100px;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    text-align: center;
    background-color: green;
}

nav {
    background: rgb(110, 38, 14);
    overflow: hidden;
}

nav li{
    list-style: none;
    color: white;
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

nav li:hover{
    background-color: yellow;
    color: black;
}

nav li:current{
    background-color: #04AA6D;
    color: white;
}

.heading {
    color:brown;
    text-align: center;
    background-color: chartreuse;
    
}

h2 {
    color: brown;
    text-align: center;
    background-color: yellowgreen;
}


body .monkey {
    border-radius: 200px;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1, .foot {
    color:antiquewhite;
    font-size: x-large;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-align: center;
    background-color: green;
}

label {
    font-size: xx-large;
}